*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202122;
}

.detail-color {
  color: #a30a0a;
}

.scroll {
  scroll-margin-top: 3.7rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 10;
}

.header__home {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  width: 100%;
  max-width: 1200px;
  font-size: 2rem;
  background-color: #202122;
}

.header__logo {
  display: block;
  height: 1em;
  margin: 0.1em 0.8em 0 0;
}

.header__title {
  font-family: 'Unkempt', cursive;
  font-size: 1em;
  text-align: center;
  color: #c6d7da;
}

.header__setup {
  height: 60vmin;
  width: 100%;
  max-width: 1200px;
  background-image: url("../img/setup_1280_400.jpg");
  background-size: cover;
  background-position: 50%;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 1.9em;
  width: 100%;
  max-width: 1200px;
  padding: 0.2em 0;
  font-size: 1.2rem;
  background-color: #202122;
  z-index: 10;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__link {
  color: #c6d7da;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__link:hover {
  color: #a30a0a;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/pattern_grey.jpg");
  width: 100%;
  max-width: 1200px;
}

.content__title {
  margin-top: 0.6em;
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: black;
}

.content__container {
  margin: 0.2em 1em 0 1em;
  padding: 0.5em;
  background-color: grey;
  border-radius: 1em;
}

.content .about__picture {
  float: left;
  height: 10.5em;
  padding: 0.3em 0.5em 0 0.5em;
}

.content .about__hello {
  margin: 0 0.5em;
  padding: 0.3em 0;
  font-weight: bold;
  text-align: center;
}

.content .about__text {
  margin: 0 0.5em;
  padding-bottom: 0.5em;
  text-align: justify;
}

.content .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0.5em;
}

.content .about__link {
  font-weight: bold;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .about__link:hover {
  color: #a30a0a;
}

.content .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .blog .last-entry__info {
  padding: 0 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .blog .last-entry__hash {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a30a0a;
}

.content .blog .last-entry__date {
  padding-top: 1.2em;
  font-size: 0.75rem;
  color: black;
}

.content .blog .last-entry__title {
  margin-bottom: 0.3em;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.content .blog .last-entry__date, .content .blog .last-entry__title {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .blog .last-entry__date:hover, .content .blog .last-entry__title:hover {
  color: #a30a0a;
}

.content .blog .last-entry__picture {
  display: block;
  height: 11em;
  padding-bottom: .5em;
  margin: 0 auto;
}

.content .blog .last-entry__text {
  margin: .5em .7em;
  font-size: 1rem;
  text-align: justify;
  color: black;
}

.content .blog .prev-entries {
  margin-top: .7em;
}

.content .blog .prev-entries__entry {
  padding: 0 .3em;
  font-size: 1rem;
}

.content .blog .prev-entries__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.content .blog .prev-entries__hash {
  font-size: 1rem;
  color: #a30a0a;
}

.content .blog .prev-entries__date {
  padding-top: 1.3em;
  font-size: 0.5rem;
  color: black;
}

.content .blog .prev-entries__hero-1, .content .blog .prev-entries__hero-2, .content .blog .prev-entries__hero-3 {
  height: 40vmin;
  margin: 0 auto 1em auto;
  background-size: cover;
  background-position: center;
}

.content .blog .prev-entries__hero-1 {
  background-image: url("../img/Blog/blog-38.jpg");
}

.content .blog .prev-entries__hero-2 {
  background-image: url("../img/Blog/blog-37.jpg");
}

.content .blog .prev-entries__hero-3 {
  background-image: url("../img/Blog/blog-36.jpg");
}

.content .blog .prev-entries__title {
  position: relative;
  top: 50%;
  padding: .5em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 1.2rem;
  text-align: center;
  color: #c6d7da;
  background-color: rgba(73, 73, 73, 0.438);
}

.content .blog .prev-entries__date, .content .blog .prev-entries__title {
  -webkit-transition: .5s;
  transition: .5s;
}

.content .blog .prev-entries__date:hover, .content .blog .prev-entries__title:hover {
  color: #a30a0a;
}

.content .blog .old-entries {
  margin-top: 0.7em;
}

.content .blog .old-entries__title {
  position: relative;
  margin-bottom: 1em;
  font-size: 1.2rem;
  text-align: center;
}

.content .blog .old-entries__entry {
  margin-bottom: 1em;
  font-size: 1rem;
}

.content .blog .old-entries__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .blog .old-entries__hash {
  margin-left: 0.3em;
  font-size: 1rem;
  color: #a30a0a;
}

.content .blog .old-entries__date {
  padding: 0.5em;
  font-size: 0.5rem;
  color: black;
}

.content .blog .old-entries__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .blog .old-entries__miniature {
  padding: 0 1em;
  height: 2em;
}

.content .blog .old-entries__entry-title {
  padding: 0 0 0em 0em;
  color: black;
}

.content .blog .old-entries__date, .content .blog .old-entries__entry-title {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .blog .old-entries__date:hover, .content .blog .old-entries__entry-title:hover {
  color: #a30a0a;
}

.content .projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .projects__title {
  padding: 0 0 0.3em 0;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .projects__title:hover {
  color: #a30a0a;
}

.content .projects__picture {
  width: 7em;
}

.content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: .7em;
}

.content .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  padding-bottom: .5em;
}

.content .contact__link {
  padding: 0.5em;
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.content .contact__mail-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: .5em;
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.content .contact__mail-link .mail {
  padding-left: .4em;
  font-size: 0.75rem;
}

.content .contact__link:hover, .content .contact__mail-link:hover {
  color: #a30a0a;
}

.footer .foot {
  padding: .5em;
  color: #c6d7da;
  font-size: 0.75rem;
  font-weight: bold;
}

@media (min-width: 36em) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 48em) {
  html {
    font-size: 28px;
  }
  .content .blog .last-entry .last-entry__picture {
    float: left;
    margin: 0.5em 0.5em 0 0.5em;
  }
  .content .blog .prev-entries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .content .blog .prev-entries__info {
    width: 100%;
  }
  .content .blog .prev-entries__hero-1, .content .blog .prev-entries__hero-2, .content .blog .prev-entries__hero-3 {
    margin: 0;
    height: 30vmin;
    width: 28vw;
    max-width: 350px;
  }
  .content .blog .prev-entries__title {
    font-size: 0.75rem;
  }
}

@media (min-width: 62em) {
  html {
    font-size: 34px;
  }
  .content .blog .prev-entries__title {
    font-size: 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */