*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202122;
}

.detail-color {
  color: #a30a0a;
}

.scroll {
  scroll-margin-top: 3.7rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__home {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  width: 100%;
  max-width: 1200px;
  font-size: 1.75rem;
  background-color: #202122;
}

.header__logo {
  display: block;
  height: 1em;
  margin: 0.1em 0.8em 0 0;
}

.header__title {
  font-family: 'Unkempt', cursive;
  font-size: 1em;
  color: #c6d7da;
  text-align: center;
}

.header__setup {
  height: 60vmin;
  width: 100%;
  max-width: 1200px;
  background-image: url("../img/setup_1280_400.jpg");
  background-size: cover;
  background-position: 50%;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  width: 100%;
  max-width: 1200px;
  padding: 0.2em 0;
  font-size: 1rem;
  background-color: #202122;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__link {
  color: #c6d7da;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__link:hover {
  color: #a30a0a;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/pattern_grey.jpg");
  width: 100%;
  max-width: 1200px;
}

.content__title {
  margin-top: .3em;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}

.content__container {
  margin: 0.5em 1em;
  padding: 0.5em;
  background-color: grey;
  border-radius: 1em;
}

.content .about__picture {
  float: left;
  height: 10.5em;
  padding: 0.3em 0.5em 0 0.5em;
}

.content .about__text {
  margin: 0 0.5em;
  text-align: justify;
}

.content .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0.5em;
}

.content .about__link {
  font-weight: bold;
  color: black;
}

.content .about__hash-color {
  color: #a30a0a;
}

.content .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

.content .blog .post-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .blog .last-entry__hash {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a30a0a;
}

.content .blog .last-entry__date {
  font-size: 0.75rem;
  color: black;
}

.content .blog .last-entry__title {
  text-align: center;
  font-size: 1.5rem;
  color: black;
}

.content .blog .last-entry__picture {
  display: block;
  height: 12em;
  padding: 0.5em 0;
  margin: 0 auto;
}

.content .blog .last-entry__text {
  margin: 0 0.5em 0.7em;
  font-size: 1rem;
  text-align: justify;
  color: black;
}

.content .prev-entries__hash {
  margin-left: 0.7em;
  font-size: 1rem;
  text-align: left;
  color: #a30a0a;
}

.content .prev-entries__date {
  margin-right: 1.5em;
  margin-top: 0.5em;
  padding: 0.3em;
  font-size: 0.5rem;
  color: black;
}

.content .prev-entries__title {
  text-align: center;
  padding: 0 0 0.3em 0.7em;
  color: black;
}

.content .prev-entries__picture {
  margin: 0 auto;
  width: 18em;
  padding: 0 0.5em;
}

.content .projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .projects__title {
  padding: 0 0 0.3em 0.7em;
  text-align: center;
}

.content .projects__picture {
  width: 7em;
}

@media (min-width: 576px) {
  html {
    font-size: 24px;
  }
  .blog .last-entry .last-entry__picture {
    float: left;
    margin: 0.5em 0.5em 0 0.5em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 28px;
  }
  .prev-entries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */