// variables

$fontsize-xxs: 0.5rem;
$fontsize-xs: 0.75rem;
$fontsize-s: 1rem;
$fontsize-ms: 1.25rem;
$fontsize-m: 1.5rem;
$fontsize-l: 1.75rem;
$fontsize-xl: 2rem;
$color-header-text: rgb(198, 215, 218);
$color-content-text: rgb(0, 0, 0);
$color-bgc: rgb(32, 33, 34);
$color-detail: rgb(163, 10, 10);
$color-purple: rgb(37, 3, 90);
$color-content-bgc: grey;

// reset

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// base styles

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-bgc;
}

.detail-color {
	color: $color-detail;
}

.scroll {
	scroll-margin-top: 3.7rem;
}

// header

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	z-index: 10;

	&__home {
		position: fixed;
		display: flex;
		justify-content: center;
		top: 0;
		width: 100%;
		max-width: 1200px;
		font-size: $fontsize-l;
		background-color: $color-bgc;
	}

	&__logo {
		display: block;
		height: 1em;
		margin: 0.1em 0.8em 0 0;
	}

	&__title {
		font-family: 'Unkempt', cursive;
		font-size: 1em;
		color: $color-header-text;
		text-align: center;
	}

	&__setup {
		height: 60vmin;
		width: 100%;
		max-width: 1200px;
		background-image: url('../img/setup_1280_400.jpg');
		background-size: cover;
		background-position: 50%;
	}
}

// navigation

.nav {
	position: sticky;
	top: 2em;
	width: 100%;
	max-width: 1200px;
	padding: 0.2em 0;
	font-size: $fontsize-s;
	background-color: $color-bgc;
	z-index: 10;

	&__menu {
		display: flex;
		justify-content: space-evenly;
	}

	&__link {
		color: $color-header-text;
		transition: 0.5s;
	}

	&__link:hover {
		color: $color-detail;
	}
}

// main

.content {
	display: flex;
	flex-direction: column;
	background-image: url('../img/pattern_grey.jpg');
	width: 100%;
	max-width: 1200px;

	&__title {
		margin-top: 0.3em;
		text-align: center;
		font-size: $fontsize-m;
		color: $color-content-text;
	}

	&__container {
		margin: 0.5em 1em;
		padding: 0.5em;
		background-color: $color-content-bgc;
		border-radius: 1em;
	}

	.about {
		&__picture {
			float: left;
			height: 10.5em;
			padding: 0.3em 0.5em 0 0.5em;
		}

		&__text {
			margin: 0 0.5em;
			text-align: justify;
		}
		&__container {
			display: flex;
			margin: 1em 0.5em;
		}
		&__link {
			font-weight: bold;
			color: $color-content-text;
		}

		&__hash-color {
			color: $color-detail;
		}
	}

	.blog {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 1em 0;

		.last-entry {
			&__info {
				display: flex;
				justify-content: space-between;
			}

			&__hash {
				font-size: $fontsize-m;
				font-weight: bold;
				color: $color-detail;
			}

			&__date {
				font-size: $fontsize-xs;
				color: $color-content-text;
			}

			&__title {
				text-align: center;
				font-size: $fontsize-m;
				color: $color-content-text;
			}

			&__picture {
				display: block;
				height: 9em;
				// padding: 0.5em 0;
				margin: 0 auto;
			}

			&__text {
				margin: 0 0.5em 0.7em;
				font-size: $fontsize-s;
				text-align: justify;
				color: $color-content-text;
			}
		}

		.prev-entries {
			&__entry {
				// display: flex;
				// 	flex-direction: column;
				font-size: $fontsize-s;
			}

			&__info {
				display: flex;
				justify-content: space-between;
			}

			&__hash {
				font-size: $fontsize-s;
				text-align: left;
				color: $color-detail;
			}

			&__date {
				padding: 0.3em;
				font-size: $fontsize-xxs;
				color: $color-content-text;
			}

			&__hero-1,
			&__hero-2,
			&__hero-3 {
				// display: flex;
				width: 90%;
				height: 40vmin;
				margin: 0.5em auto;
				background-size: cover;
				background-position: center;
			}

			&__hero-1 {
				background-image: url('../img/Blog/blog_37.jpg');
			}

			&__hero-2 {
				background-image: url('../img/Blog/blog_36.jpg');
			}

			&__hero-3 {
				background-image: url('../img/Blog/blog_35.jpg');
			}

			&__title {
				position: relative;
				top: 50%;
				transform: translate(0, -50%);
				font-size: $fontsize-ms;
				text-align: center;
				padding: 0 0 0.3em 0.7em;
				color: $color-header-text;
				background-color: rgba(73, 73, 73, 0.438);

			}

			&__bg {
				position: absolute;
				margin: 0 auto;
				width: 100%;
				height: 100%;
				padding: 0 0.5em;
			}
		}
	}


	.projects {
		&__container {
			display: flex;
			justify-content: space-around;
		}

		&__title {
			padding: 0 0 0.3em 0.7em;
			text-align: center;
		}

		&__picture {
			width: 7em;
		}
	}
}

//footer

// .footer {
// 	// width: 100%;
// }

//RWD

// Small devices
@media (min-width: 576px) {
	html {
		font-size: 24px;
	}

	.content {
		.blog {
			.last-entry {
				.last-entry__picture {
					float: left;
					margin: 0.5em 0.5em 0 0.5em;
				}
			}
		}
	}
}
// Medium devices
@media (min-width: 768px) {
	html {
		font-size: 28px;
	}

	.content {
		.blog {
			.prev-entries {
				display: flex;
				justify-content: space-around;
				&__hero-1,
				&__hero-2,
				&__hero-3 {
					height: 30vmin;
					width: 28vw;
					max-width: 350px;
					margin: 0;
				}
				&__title {
					font-size: $fontsize-xs;
				}
			}
		}
	}
}

// Large devices
@media (min-width: 992px) {
	html {
		font-size: 34px;
	}

	.content {
		.blog {
			.prev-entries {
				&__title {
					font-size: $fontsize-xs;
				}
			}
		}
	}
}