// variables

$fontsize-xxsm: 0.8rem;
$fontsize-xsm: 1.2rem;
$fontsize-s: 2rem;
$fontsize-m: 3rem;
$fontsize-l: 5rem;
$fontsize-xl: 6rem;
$color-back: rgb(36, 37, 41);
$color-front-main: rgb(121, 41, 187);
$color-front-second: rgb(43, 41, 41);
$color-header-text: rgb(198, 215, 218);
$bgc-img: url(../img/blue-black_bg.jpg);
$color-bgc: rgb(32, 33, 34);

// reset

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// base styles

body {
	display: flex;
	flex-direction: column;
	background-color: $color-bgc;
	// background-image: $bgc-img;
	background-attachment: fixed;
}

ul {
	list-style: none;
}

h1 {
	font-family: 'Unkempt', cursive;
	font-size: $fontsize-m;
	color: $color-header-text;
	text-align: center;
}

h3 {
	color: $color-front-second;
}

// header

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&_home {
		position: fixed;
		display: flex;
		justify-content: center;
		top: 0px;
		width: 90%;
		max-width: 1200px;
		background-color: $color-bgc;
		// background-image: $bgc-img;
		&_logo {
			display: block;
			height: $fontsize-m;
			margin: 3px 20px 0 0;
		}
	}

	&_setup {
		height: 200px;
		width: 90%;
		max-width: 1200px;
		margin-top: 40px;
		background-image: url('../img/setup_1280_400.jpg');
		background-size: cover;
		background-position: 50% 70%;
	}
}

// navigation

nav {
	position: sticky;
	top: 37px;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: $fontsize-s;
	background-color: $color-bgc;
	// background-image: url(../img/bg_pic.jpg);
	ul {
		display: flex;
		justify-content: space-evenly;
		a {
			color: $color-header-text;
		}
	}
}

// main

.content {
	display: flex;
	justify-content: center;
	background-size: cover;
}

.center {
	text-align: center;
}

.blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 900px;
	max-width: 1200px;
	&_last-entrie {
		background-image: url('../img/pattern_grey.jpg');
		width: 90%;
		height: 30%;
		margin: 5px;
	}

	&_prev-entries {
		background-image: url('../img/pattern_grey.jpg');
		width: 90%;
		height: 20%;
		margin: 5px;
	}
	&_older-entries {
		background-image: url('../img/pattern_grey.jpg');
		width: 90%;
		height: 45%;
		margin: 5px;
	}
}

//footer

.footer {
	width: 100%;
	a {
		display: block;
		font-size: $fontsize-xxsm;
		color: $color-header-text;
		text-align: center;
	}
}

//RWD

@media (min-width: 768px) {
	h1 {
		font-size: $fontsize-l;
	}
	.header_home_logo {
		height: $fontsize-l;
		margin-right: 60px;
	}
	.nav {
		top: 50px;
		padding: 5px 0;
	}
	aside {
		display: block;
	}
}

@media (min-width: 992px) {
	.header_setup {
		height: 300px;
	}

	.nav {

	}
}

@media (max-height: 500px) {
	.header_setup {
		height: 150px;
	}
}
