@use '../abstracts/' as *;

.body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-bgc;
}

.detail-color {
	color: $color-detail;
}

.scroll {
	scroll-margin-top: 3.7rem;
}