@media (min-width: 36em) {
	html {
		font-size: 24px;
	}
}

@media (min-width: 48em) {
	html {
		font-size: 28px;
	}

	.content {
		.blog {
			.last-entry {
				.last-entry__picture {
					float: left;
					margin: 0.5em 0.5em 0 0.5em;
				}
			}
			.prev-entries {
				display: flex;
				justify-content: space-around;
				&__info {
					width: 100%;
				}
				&__hero-1,
				&__hero-2,
				&__hero-3 {
					margin: 0;
					height: 30vmin;
					width: 28vw;
					max-width: 350px;
				}
				&__title {
					font-size: $fontsize-xs;
				}
			}
		}
	}
}

@media (min-width: 62em) {
	html {
		font-size: 34px;
	}

	.content {
		.blog {
			.prev-entries {
				&__title {
					font-size: $fontsize-xs;
				}
			}
		}
	}
}
