@use '../abstracts/' as *;

.footer {
	margin-top: 1em;
	padding: 0.5em;
	background-color: $color-bgc;
	color: $color-header-text;
	font-size: $fontsize-xs;
	font-weight: bold;
	text-align: center;
	
}