@use '../abstracts/' as *;

.nav {
	position: sticky;
	top: 2.5em;
	width: 100%;
	max-width: 1200px;
	margin-top: 1em;
	padding: .1em 0 .2em 0;
	font-size: $fontsize-s;
	background-color: $color-bgc-second;
	// border: 2px solid $color-detail;
	border-radius: .5em;
	z-index: 10;

	&__menu {
		display: flex;
		justify-content: space-evenly;
	}

	&__link {
		color: $color-header-text;
		transition: .5s;
	}

	&__link:hover {
		color: $color-detail;
	}
}