$color-header-text: rgb(198, 215, 218);
$color-content-text: rgb(0, 0, 0);
$color-bgc: rgb(32, 33, 34);
$color-bgc-transparent: rgba(73, 73, 73, 0.438);
$color-detail: rgb(163, 10, 10);
$color-purple: rgb(37, 3, 90);
$color-content-bgc: rgb(128, 128, 128); 